<div class="row">
	<% if jobs.count > 0 %>
		<% jobs.each do |j| %>
			<% if current_company == nil%>
				<div class="dashboard-jobs">
					<div class="j-title"><%= truncate(j.title, length:15) %></div>
					<div class="j-type"><%= j.job_type %></div>
					<div class="j-description"><%= truncate(j.description, length: 100) %></div>
					<div class="j-city"><%= j.company.city %></div>
					<div class="j-time"><%= j.created_at.strftime("%d %b, %Y %H:%M") %></div>
				</div>
			<% else %>
				<%= link_to inquiry_new_path({job_id: j.id}) do %>
				<div class="dashboard-jobs">
					<div class="j-title"><%= truncate(j.title, length:15) %></div>
					<div class="j-type"><%= j.job_type %></div>
					<div class="j-description"><%= truncate(j.description, length: 100) %></div>
					<div class="j-city"><%= j.company.city %></div>
					<div class="j-time"><%= j.created_at.strftime("%d %b, %Y %H:%M") %></div>
				</div>
				<% end %>
			<% end %>
		<% end %>
	<% else %>
		<h1>No Jobs Found</h1>
	<% end %>
</div>