<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBT-w_gjvyhb7xwDypt6_UMmSgH1WHLmJY&libraries=places&callback=initAuto_job" async defer></script>

<div class="row">
	<div class="col-md-2 side-left">
		<div class="row">
			<%= form_for :job, remote: true do |f| %>
			<%= f.label 'Filter: Job Type' %>
			<%= f.select(:job_type,['all','we have','we want']) %>
			<%= f.label 'City' %>
			<%= f. text_field :city %>
			<%= f.submit 'Search' %>
			<% end %>	
		</div>	
	</div>
	<div class="col-md-10 side-right">
		<%= render partial: 'home/list_jobs', locals: { jobs: @jobs} %>	
	</div>
</div>