<div class="row">
	<div class="col-md-3">
		<h1>New Inquiry</h1>
		<%= form_for(:inquiry) do |form|%>
		<%= form.label(:message)%>
		<%= form.text_area(:message)%>
		<%= form.hidden_field :job_no, value: params[:job_id] %>
		<%= form.submit%>
		<% end %>
	</div>
	<div class="col-md-9">
		<div class="row">
			<h1>Job</h1>
			<h3><%= @jb[0][:title] %></h3>
			<h4 class="col-md-offset-1"><%= @jb[0][:description] %></h4>
		</div>
		<div class="row">
			<h1>Your Inquiries</h1>

			<table class="table">
				<tr class="head">
					<td>Inquire Time</td>
					<td>Message</td>
				</tr>
				<% if @per_inq.count > 0 %>
					<% @per_inq.each do |i| %>
						<tr>
							<td><%= i.created_at %></td>
							<td><%= i.message %></td>
						</tr>
					<% end %>
				<% else %>
				<tr>
					<td colspan="2"><h3>No Inquire Found</h3></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>