<div class="have">
	<h1><%= @jb.title %></h1>
	<p><%= @jb.description %></p>
</div>

<div class="want">
	<h1>All Inquiries</h1>
	<table>
		<% @iq.each do |i| %>
		<tr>
			<td><%= i.created_at %></td>
			<td><%= i.message %></td>
			<td><%= i.company.email %></td>
		</tr>
		<% end %>
	</table>
</div>