<div class="have">
	<h1><%= @jb[0][:title] %></h1>
	<p><%= @jb[0][:description] %></p>
</div>

<div class="want">
	<h1>All Inquiries</h1>
	<table>
		<% @iq.each do |i| %>
		<tr>
			<td><%= i.created_at.strftime("%d %b,%Y %H:%M") %></td>
			<td><%= i.message %></td>
			<td><%= i.company.email %></td>
		</tr>
		<% end %>
	</table>
</div>